header {
    @include size(33vh, 100%);
    @include flex($col, nowrap, center, center);
    background: linear-gradient(rgba(51, 71, 90, 0.699), rgba(51, 71, 90, 0.699)), url(../img/bg/bgimage.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 15px solid $brdr;
    font-size: 1em;
        & h1 {
            margin-top: auto;
            color: whitesmoke;
            font-size: 1em;
        }
        & h2 {
            color: whitesmoke;
            font-size: .9em;
        }
        & h3 {
            color: whitesmoke;
            margin: auto auto 10px;
            font-size: .8em;
        }
        & .header-img-div {
            @include size(90px, 90px);
                & img {
                    width: 100%;
                }
        }
}


@media (min-width: 768px) {
    header {
        height: 33vh;
    }
    header {
        & h1 {
            font-size: 1.5em;
        }
        & h2 {
            font-size: 1.3em;
        }
        & h3 {
            font-size: 1em;
        }
    }
    
}